<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesdash.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}" ></script>
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header-container"></div>
    </header>

    <div class="dashboard">
        <a href="desgloses.html" class="button">Desgloses</a>
        <a href="papeletas.html" class="button">Papeletas</a>
        <a href="registroEmpresas.html" class="button">Alta Empresas</a>
        <a href="registroUsuarios.html" class="button">Alta Usuarios</a>
    </div>
    <div class="back-button">
        <a href="{{ url_for('index') }}" class="button">Regresar</a>

    </div>

</body>
</html>