<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    <title>Kinessia Trip Hub</title>
</head>
<body>
    <div id="header-container"></div>
    <div class="logokinessia">
        <img src="{{ url_for('static', filename='img/Logo-Kinessia.png') }}" alt=""  id="logo">
    </div>
    
    <div class="button-start">
        <button class="start" onclick="location.href='{ url_for('dashboard') }'">Iniciar Sesión</button>
    </div>
    <footer class="footer">
        <h2>Viajes Kinessia systems &copy;2024</h2>
    </footer>
</body>
</html>