
.title-page{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--battleship-gray);
    font-size: 20px;
    margin: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
.submit{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: var(--chili-red);
    border: none;
    border-radius: 5px;
   
}
button:hover {
    background-color:var(--battleship-gray);
}

button:active {
    background-color: #780000;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
.back-button .button{
    margin: 2rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--chili-red);
    border: none;
    border-radius: 5px;
}