.dashboard{
    margin: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button {
    display: inline-block;
    padding: 40px 80px;
    margin: 2rem;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--chili-red);
    border: none;
    border-radius: 15px;
}

.back-button .button{
    margin: 2rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 30px 60px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--chili-red);
    border: none;
    border-radius: 15px;
}