.title-page {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--battleship-gray);
    font-size: 20px;
    margin: 1.5rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, .empresa, .aerolinea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background-color: var(--chili-red);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: var(--battleship-gray);
}

button:active {
    background-color: #780000;
    transform: translateY(2px);
}

.desglose {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.desglose-header {
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
}

.back-button .button {
    margin: 2rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--chili-red);
    border: none;
    border-radius: 5px;
}

@media (min-width: 768px) {
    form {
        flex-direction: column;
    }

    .desglose-header {
        flex-direction: row;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        margin-right: 0;
    }

    input, .empresa, .aerolinea {
        width: 100%;
    }
}

@media (max-width: 767px) {
    form {
        flex-direction: column;
    }

    .desglose-header {
        flex-direction: column;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    label {
        margin-right: 0;
    }

    input, .empresa, .aerolinea {
        width: 100%;
    }

    button {
        width: 100%;
    }
}