.dashboard{
    margin: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard, .back-button {
    margin: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.button {
    display: inline-block;
    margin: 5px;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    background-color: var(--chili-red);
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}
.button:hover {
    background-color: var(--battleship-gray);
}