<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Kinessia Trip Hub</title>
</head>
<body>
    <header class="header">
        <h1>Kinessia Hub</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('desgloses') }}">Desgloses</a></li>
            <li><a href="{{ url_for('papeletas') }}">Papeletas</a></li>
            <li><a href="{{ url_for('registroEmpresas') }}">Alta Empresas</a></li>
            <li><a href="{{ url_for('registroUsuarios') }}">Alta Usuarios</a></li>
        </ul>
    </nav>
</body>
</html>