<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    <title>Kinessia Trip Hub</title>
</head>
<body>
    <div id="header-container"></div>
    <div class="logokinessia">
        <img src="{{ url_for('static', filename='img/Logo-Kinessia.png') }}" alt="Logo Kinessia" id="logo">
    </div>
    <div class="button-start">
        <button class="start" onclick="location.href='/dashboard'">Iniciar Sesión</button>
    </div>
    <footer class="footer">
        <p>Ilse Machado systems &copy;2024</p>
    </footer>
</body>
</html>